
<div style="float:left; width: 20%;">
    <h3>Safari Index</h3>
    {% for region in regions %}
        <strong>{{ region.name }}</strong>
        <ul>
            {% for sub in region.subregions.all %}
                <li>
                    {{ sub.name }}
                    <ul>
                        {% for safari in sub.safari_set.all %}
                            <li>
                                <a href="{% url 'safari_detail' safari.id %}">{{ safari.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
